<!DOCTYPE html>
<html lang="en">

<head>
    <!-- begin:: menu -->
    <%- include('layouts/head') -%>
    <!-- end:: menu -->
</head>

<body>
    <!-- begin:: menu -->
    <%- include('layouts/navbar') -%>
    <!-- end:: menu -->

    <!-- begin:: content -->
    <%- body -%>
    <!-- end:: content -->

    <!-- begin:: footer -->
    <%- include('layouts/footer') -%>
    <!-- end:: footer -->

    <!-- begin:: javascript -->
    <%- script -%>
    <!-- end:: javascript -->
</body>

</html>